{
	"info": {
		"_postman_id": "5f0af368-0465-7ffd-7d6a-3edec617bbb6",
		"name": "Postman Collection build by {{ role_name|basename }}",
		"schema": "https://schema.getpostman.com/json/collection/v2.1.0/collection.json",
		{% if ansible_date_time.date is defined %}
		"_comment_date": "{{ ansible_date_time.date }}",
        {% endif %}
		"_comment_config_hostname": "{{ inventory_hostname|lower }}"
	},
	"item": [
		{
			"name": "APIC Login",
			"item": [
                	{
					"name": "ACI Basic login",
					"request": {
						"method": "POST",
						"header": [],
						"body": {
							"mode": "raw",
							"raw": "<aaaUser name=\"{{apic_username}}\" pwd=\"{{apic_password}}\" />"
						},
						"url": {
							"raw": "https://{{aci_url}}/api/aaaLogin.xml",
							"protocol": "https",
							"host": [
								"{{aci_url}}"
							],
							"path": [
								"api",
								"aaaLogin.xml"
							],
							"query": [
								{
									"key": "",
									"value": "",
									"disabled": true
								}
							]
						}
					},
					"response": []
				}
            ]
        },
		{
			"name": "ACI Tennants",
			"item": [
                {%for tenant , value in tenants.items()%}
				{
					"name": "Create Tenant {{ tenant }}",
					"request": {
						"method": "POST",
						"header": [],
						"body": {
							"mode": "raw",
							"raw": "<fvTenant name=\"{{ tenant }}\"/>"
						},
						"url": {
							"raw": "https://{{ aci_url }}/api/mo/uni.xml",
							"protocol": "https",
							"host": [
								"{{ aci_url }}"
							],
							"path": [
								"api",
								"mo",
								"uni.xml"
							]
						},
						"description": "Basic login"
					},
					"response": []
				},
                {%endfor%}
				{%for tenant , value in tenants.items()%}
				{
					"name": "Delete a Tenant {{tenant}}",
					"request": {
						"method": "DELETE",
						"header": [],
						"body": {
							"mode": "raw",
							"raw": ""
						},
						"url": {
							"raw": "https://{{ aci_url }}/api/mo/uni/tn-{{tenant}}'.xml",
							"protocol": "https",
							"host": [
								"{{aci_url}}"
							],
							"path": [
								"api",
								"mo",
								"uni",
								"tn-'{{aci_url}}'.xml"
							]
						}
					},
					"response": []
				}{% if not loop.last %},{%endif%}
				{%endfor%}
            ]
        },
		{
			"name": "ACI Applicationprofiles",
			"item": [
				{%for tenant , value in tenants.items()%}
				{%for  applicationprofile, value in tenants[tenant].applicationprofiles.items()%}
				{
			"name": "Create App Profile {{ applicationprofile }}",
			"request": {
				"method": "POST",
				"header": [],
				"body": {
					"mode": "raw",
					"raw": "{\n    \"fvAp\": {\n        \"attributes\": {\n            \"dn\": \"uni/tn-{{tenant}}/ap-{{applicationprofile}}\",\n            \"name\": \"{{applicationprofile}}\",\n            \"rn\": \"ap-{{applicationprofile}}\",\n            \"status\": \"created\"\n        },\n        \"children\": []\n    }\n}",
					"options": {
						"raw": {
							"language": "json"
						}
					}
				},
				"url": {
					"raw": "https://{{aci_url}}/api/node/mo/uni/tn-{{tenant}}/ap-{{applicationprofile}}.json",
					"protocol": "https",
					"host": [
						"{{aci_url}}"
					],
					"path": [
						"api",
						"node",
						"mo",
						"uni",
						"tn-{{tenant}}",
						"ap-{{applicationprofile}}.json"
					]
				}
			},
			"response": []
		}{% if not loop.last %},{%endif%}
		 {%endfor%}
		{%endfor%}	
			]
		}
    ]
}