# Config config-json build from {{ role_name|basename }}
{% if ansible_date_time.date is defined %}
# Generated {{ ansible_date_time.date }}
{% endif %}
# Config for {{ inventory_hostname|lower }}
# Managed by Ansible


# Add Tennants

{%for tenant , value in tenants.items()%}
{
    "fvTenant": {
        "attributes": {
            "dn": "uni/tn-{{tenant}}",
            "name": "{{tenant}}",
            "rn": "tn-{{tenant}}",
            "status": "created"
        },
        "children": []
    }
}
{%endfor%}


{%for tenant , value in tenants.items()%}

{%for  applicationprofile , value in value. applicationprofiles.items()%}
{% if applicationprofile is defined  %}
# Add {{ applicationprofile }}


{%for bridgedomain , value in value.bridgedomains.items()%}
# Add Bridgedomains
{% if bridgedomain is defined  %}
{
    "fvBD": {
        "attributes": {
            "dn": "uni/tn-{{tenant}}/BD-{{bridgedomain}}",
            "name": "{{bridgedomain}}",
            "rn": "BD-{{bridgedomain}}",
            "status": "created"
        },
        "children": [
            {
                "fvRsCtx": {
                    "attributes": {
                        "tnFvCtxName": "default",
                        "status": "created,modified"
                    },
                    "children": []
                }
            },
            {
                "fvRsIgmpsn": {
                    "attributes": {
                        "tnIgmpSnoopPolName": "default",
                        "status": "created,modified"
                    },
                    "children": []
                }
            }
        ]
    }
}
{%endif%}
{%endfor%}

{%endif%}
{%endfor%}
{%endfor%}