# Config config-cli build from {{ role_name|basename }}
{% if ansible_date_time.date is defined %}
# Generated {{ ansible_date_time.date }}
{% endif %}
# Config for {{ inventory_hostname|lower }}
# Managed by Ansible


# Add Tennants

{%for tenant , value in tenants.items()%}
tenant {{ tenant }}
{%endfor%}


{%for tenant, value in tenants.items()%}
# add tenant {{  tenant }}

{%for  applicationprofile, value in tenants[tenant].applicationprofiles.items()%}

# add applicationprofile {{ applicationprofile }}

{%for  endpointgroup, vlaue in tenants[tenant].applicationprofiles[applicationprofile].endpointgroups.items()%}

# Add endpointgroup {{  endpointgroup }}

{%for  bridgedomain,  value in tenants[tenant].applicationprofiles[applicationprofile].endpointgroups[endpointgroup].bridgedomains.items()%}

# Add Bridgedomain: {{  bridgedomain }}

{%for  subnet , value in tenants[tenant].applicationprofiles[applicationprofile].endpointgroups[endpointgroup].bridgedomains[bridgedomain].subnets.items()%}

# Add Subnet: {{  subnet }}

{%endfor%}
{%endfor%}
{%endfor%}
{%endfor%}
{%endfor%}
