# Documentaion build {{ role_name|basename }}
{% if ansible_date_time.date is defined %}
# Generated {{ ansible_date_time.date }}
{% endif %}
# Documentaion for {{ inventory_hostname|lower }}
# Managed by Ansible


## ACI Config Table (TENANT,VRF,BD,GW,MASK,AP,EPG,CONTRACT,SCOPE,TYPE,SUBJECT,ENTRY,FILTER,PROTOCOL,PORT)

| Tenant | Beschreibung | Applicationprofile | Endpointgroup | Bridgedomain | Subnet (vnet) |
| --- | --- | --- | --- | --- | --- |



{%for tenant, value in tenants.items()%}
{%for  applicationprofile, value in tenants[tenant].applicationprofiles.items()%}

{%for  endpointgroup, vlaue in tenants[tenant].applicationprofiles[applicationprofile].endpointgroups.items()%}

{%for  bridgedomain,  value in tenants[tenant].applicationprofiles[applicationprofile].endpointgroups[endpointgroup].bridgedomains.items()%}

{%for  subnet , value in tenants[tenant].applicationprofiles[applicationprofile].endpointgroups[endpointgroup].bridgedomains[bridgedomain].subnets.items()%}

| {{ tenant }} | {{ value.description }} | {{ applicationprofile }} |  {{  endpointgroup }} | {{  bridgedomain }} | {{  subnet }} 

{%endfor%}
{%endfor%}
{%endfor%}
{%endfor%}
{%endfor%}