# Documentaion build {{ role_name|basename }}
{% if ansible_date_time.date is defined %}
# Generated {{ ansible_date_time.date }}
{% endif %}
# Documentaion for {{ inventory_hostname|lower }}
# Managed by Ansible


## ACI Tennants:

| Tenant | Beschreibung |
| --- | --- | --- | --- |
{%for tenant , value in tenants.items()%}
| {{ tenant }} | {{ value.description }} |
{% endfor %}